.App {
  text-align: center;

}

.header {
  font-family: 'Dancing Script', cursive;
}

.ui.container.welcome.container {
  background-size: cover !important;
  background-repeat: no-repeat;
  width: auto;

}

.ui.center.aligned.container {
  background-image: url("https://images.pexels.com/photos/48126/books-education-school-literature-48126.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
}

.App-logo {
  height: 40vmin;
}

.ui.stackable.menu{
  position: absolute;
  bottom: 0; left: 0; right: 0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: grey;
}

.App-link {
  color: #09d3ac;
}

.welcome {
  font-family: 'Playball', cursive;
  font-size: 125px;
  animation-name: example;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-fill-mode: backwards;


  @keyframes example {
  from {top: 0px}
  to {top: 200px;}
  }
}

/* .second.welcome {
  font-family: 'Playball', cursive;
  font-size: 75px;
  text-align: center;
} */

.ui.center.button {
  align-items: center;
  align-content: center;
}

.ui.center.aligned.container{
  padding-top: 150px;
  padding-left: 50px;
  padding-bottom: 150px;
  padding-right: 50px;
  box-sizing: content-box;
}

.row{
  padding-top: 25px;
}


.ui.menu{
  margin-bottom: 0px;
}

.welcome.container{
  position: relative;
  text-align: center;
}

.ui.card.course.cards{
    position: relative;
    background: white;
    display: inline-block;
    color: #white;
    padding: .24em .3em .25em;
    width: 400px;
    height: 145px;



  &:after {
    z-index: -1;
		content: "";
		position: absolute;
		top: 0;
     left: 0;
		height: 200px;
		width: 400px;
		background-color: inherit;
     border: 1px solid blue;
		-webkit-transform: skewX(-10deg);
		-moz-transform: skewX(-10deg);
		-ms-transform: skewX(-10deg);
		transform: skewX(-10deg);

  }
}

.ui.card.course.cards:hover{
  transform: scale(1.05);
}



.ui.card.categories {
  height: 150px;
  width: 350px;
}


.category.header{
  font-family: 'Pacifico', cursive;
  padding-right: 800px;
  font-size: 450%;
}

.category.description{
  font-family: 'EB Garamond', serif;
  padding-right: 700px;
  font-size: 150%;
}
/*
.ui.welcome.button{
  padding-left: 450px;
} */

.categories {
  text-align: right;
  padding-top: 80px;
  padding-right: 6px;
  font-size: 45px;
  font-family: 'Abril Fatface', cursive;
  color: #000080;
}

.ui.card.courses{
  margin: auto;
}

.Math{
  background-image: url("https://images.pexels.com/photos/167682/pexels-photo-167682.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
}

.English{
  background-image: url("https://images.pexels.com/photos/46274/pexels-photo-46274.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-size: cover;
}

.Science{
  background-image: url("https://images.pexels.com/photos/4154/clinic-doctor-health-hospital.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
}

.Music{
  background-image: url("https://images.pexels.com/photos/45243/saxophone-music-gold-gloss-45243.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-size: cover;
}

.Sports{
  background-image: url("https://images.pexels.com/photos/163444/sport-treadmill-tor-route-163444.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
}

.popup{
  margin: 0px;
}

.user.welcome{
  text-align: center;
  padding-top: 20px;
  position: absolute;
  font-style: italic;
  left: 85%
}

.login.form.text{
  text-align: center;
}

.existing.user{
  font-size: 20px;
  padding-bottom: 20px;
}

.course.name{
  margin-bottom: 5px;
}

.ui.green.button {
  float: right;
}

.user.big.circular.icon{
  position: relative;
  float: right;
}

.dropdown{
  display: inline-block;
}

.ui.inverted.segment{
  right: 25%
}

.content{
  padding-bottom: 0px;
}

.right.item {
  position: absolute;
  float: right;

}

.welcome.image{
  position: fixed;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.right.item.profile.link{
  float: right;
}

.header.course.name {
  font-size: 25px !important;
}

.header.instructor {
  font-size: 15px !important;
}

.ui.card{
  height: 100px;
  width: 200px;

}

.ui.center.aligned.container{
  padding-top: 50px;
  padding-left: 0px;
  margin-left: 50px !important;
}

#main-category-container{
  background-image: url('https://images.pexels.com/photos/265076/pexels-photo-265076.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-size: cover !important;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
}

#category-cards{
  padding-right: 600px;
  padding-left: 50px;
  padding-top: 20px;
}

#category-title{
  padding-left: 50px;
  display: inline-block;
  color: white;
}

#each-course-card{
  height: auto;

}


#course-page{
  background-image: url('https://images.pexels.com/photos/355948/pexels-photo-355948.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  position: absolute;
  background-size: cover !important;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  padding-top: 70px;
  padding-right: 500px;
  padding-left: 50px;
}

#login-form{
  margin-left: 400px;
  margin-right: 600px;
  /* padding-left: 500px; */
  padding-top: 200px;
}

#login-page{
  background-image: url('https://images.pexels.com/photos/1007023/pexels-photo-1007023.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  position: absolute;
  background-size: cover !important;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

#your-courses-page{
  background-image: url('https://images.pexels.com/photos/1007023/pexels-photo-1007023.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  position: absolute;
  background-size: cover !important;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

#your-courses-cards{
  padding-top: 100px;
  padding-left: 100px;
  padding-right: 200px;
}
